.events.event-block {
	display:block;
	min-height:170px;
}

.events div.image {
	float:left;
	margin-right:15px;
}
.events.event-block  img{
	border-radius:10px;
}

div.events.menu-block {
  display: flex;
flex-direction: row;
flex-wrap: wrap;
justify-content: space-around;
align-items: baseline;

padding-bottom: 2px;
padding-top:2px;
  
 
  
  -webkit-transition: background-color 1s ease;
  -moz-transition: background-color 1s ease;
  -o-transition: background-color 1s ease;
  -ms-transition: background-color 1s ease;
  transition: background-color 1s ease;
  
}

div.events.menu-block div {
	margin:0px;
	padding-left:10px;
	padding-right:10px;
	flex-basis:50%;
	font-size:20px;
	border-radius:5px;
}

div.events.menu-block div:hover {
	background-color: #E7DCBA;
	
	

  -webkit-transition: background-color 0.5s ease;
  -moz-transition: background-color 0.5s ease;
  -o-transition: background-color 0.5s ease;
  -ms-transition: background-color 0.5s ease;
  transition: background-color 0.5s ease;
}

div.events.menu-block div.item a {
	box-shadow:0px 0px 0px 0px;
}